<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
            <h3 class="text-center">{{titulo}}</h3>

            <div class="text-center" *ngIf="!data">
                <img src="../../../assets/bootstrap/img/load.gif" style="width: 100px">            
            </div>

            <div class="row">
                    <div class="form-group col-md-2">
                        <button type="button" class="btn btn-primary" [routerLink]="['/cargarAfiliado']">Cargar Afiliado</button>
                    </div>
                    <div class="form-group col-md-1 col-md-offset-9">
                        <button type="button" class="btn btn-primary" (click)="exportExcel()">Export xlsx</button>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control text-uppercase" placeholder="Buscar por apellido o nombre" [(ngModel)]="buscadorNombreApellido" />
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control text-uppercase" placeholder="Buscar por centro" [(ngModel)]="buscadorCentro"/>
                    </div>                    
                </div>

            <div class="table-responsive" *ngIf="data">

                <table class="table" [mfData]="data | FiltroAfiliadoNombre:buscadorNombreApellido | FiltroAfiliadoCentro:buscadorCentro" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nro. Afiliado</th>
                            <th>Apellido y Nombre</th>
                            <th class="text-center">Centro</th>
                            <th>Territorio</th>
                            <th>Departamento</th>
                            <th>Riesgo nutricional</th>
                            <th>Riesgo cintura</th>
                            <th>Riesgo pantorrilla</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of mf.data;let indice=index">
                        <tr>
                            <th scope="row">{{indice+1}}</th>
                            <td>{{item.NroAfiliado}}</td>
                            <td>{{item.ApellidoNombre}}</td>
                            <td>{{item.NombreCentro}}</td>
                            <td>{{item.NombreTerritorio}}</td>
                            <td>{{item.NombreDpto}}</td>
                            <td>{{item.Est_Nutr}}</td>
                            <td>{{item.RiesgoCintura}}</td>
                            <td>{{item.RiesgoPantorrilla}}</td>
                            <td class="text-center col-sm-3 col-md-2">
                                <button type="button" class="btn btn-success" data-toggle="modal" attr.data-target="#detalle{{item.NroAfiliado}}"><i class="fa fa-search-plus"></i></button>
                                <b>&nbsp;|&nbsp;</b>
                                <button type="button" class="btn btn-warning" [routerLink]="['/editarAfiliado/', item.IdPersona]"><i class="fa fa-edit"></i></button>
                                <b>&nbsp;|&nbsp;</b>
                                <button type="button" class="btn btn-danger" data-toggle="modal" attr.data-target="#eliminar{{item.NroAfiliado}}"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <!-- MODAL DETALLE AFILIADO -->
                        <div class="modal fade" id="detalle{{item.NroAfiliado}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-center"><strong>Detalle del Afiliado</strong></h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col-md-5">
                                                <label><h5><strong>Fecha: </strong></h5></label>
                                                {{item.FechaComienzo | date: 'dd/MM/yyyy'}}
                                            </div>
                                            <div class="col-md-5 col-md-offset-2">
                                                <label><h5><strong>Nro. afiliado: </strong></h5></label>
                                                {{item.NroAfiliado}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-7">
                                                <label><h5><strong>Apellido y Nombre: </strong></h5></label>
                                                {{item.ApellidoNombre}}
                                            </div>
                                            <div class="col-md-2">
                                                <label><h5><strong>Edad: </strong></h5></label>
                                                {{item.Edad}}
                                            </div>
                                            <div class="col-md-3">
                                                <label><h5><strong>Sexo: </strong></h5></label>
                                                {{item.Sexo}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <label><h5><strong>Territorio: </strong></h5></label>
                                                {{item.NombreTerritorio}}
                                            </div>
                                            <div class="col-md-7">
                                                <label><h5><strong>Departamento: </strong></h5></label>
                                                {{item.NombreDpto}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><h5><strong>Encuestador: </strong></h5></label>
                                                {{item.Encuestador}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><h5><strong>Centro: </strong></h5></label>
                                                {{item.NombreCentro}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><h5><strong>Programa: </strong></h5></label>
                                                {{item.NombrePrograma}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label><h5><strong>Cintura: </strong></h5></label>
                                                {{item.Cintura}}
                                            </div>
                                            <div class="col-md-9">
                                                <label><h5><strong>Riesgo cintura: </strong></h5></label>
                                                {{item.RiesgoCintura}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label><h5><strong>Pantorrilla: </strong></h5></label>
                                                {{item.Pantorrilla}}
                                            </div>
                                            <div class="col-md-9">
                                                <label><h5><strong>Riesgo pantorrilla: </strong></h5></label>
                                                {{item.RiesgoPantorrilla}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label style="margin-bottom: -5px"><h5><strong>Enfermedades: </strong></h5></label>
                                                <br>
                                                <span *ngFor="let ea of enfermedadesXafiliados">
                                                    <span *ngIf="ea.IdPersona==item.IdPersona" class="col-md-8 col-md-offset-2">
                                                        * {{ea.NombreEnfermedad}}
                                                        <br>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><h5><strong>Estado nutricional: </strong></h5></label>
                                                {{item.Est_Nutr}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label><h5><strong>Comentarios: </strong></h5></label>
                                                {{item.Comentario}}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer" style="text-align: center">
                                         <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ELIMINAR AFILIADO -->
                        <div class="modal fade" id="eliminar{{item.NroAfiliado}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title text-center"><strong>Eliminar afiliado</strong></h3>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-center"><strong>¿Estás seguro que deseas eliminar a {{item.ApellidoNombre}} de la lista de afiliados?</strong></h4>
                                    </div>
                                    <div class="modal-footer" style="text-align: center">
                                        <button type="button" class="btn btn-primary" (click)="OnDeleteAfiliado(item.IdPersona)" data-dismiss="modal">Aceptar</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>