<div class="col-md-10 col-md-offset-1">
    <div class="jumbotron">
        <h3 class="text-center">{{titulo}}</h3>
        <form #formDatosPersonales="ngForm">
  
            <div class="row">
              <div class="form-group col-md-2">
                <label>Fecha</label>
                  <!-- <div class="input-group col-md-3">
                    <input type="date" max="{{afiliado.FechaComienzo}}" #fecha="ngModel" name="fecha" [(ngModel)]="afiliado.FechaComienzo" class="form-control" required>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>  
                  </div> -->
                  <my-date-picker name="mydate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"
                  [(ngModel)]="afiliado.FechaComienzo"  required></my-date-picker> 
              </div>

              <div class="form-group col-md-3 col-md-offset-7">
                  <label>N° de Beneficiario<span *ngIf="!beneficiario.valid && beneficiario.touched" class="alert-danger">
                    <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
                  <input type="text" #beneficiario="ngModel" name="beneficiario"[(ngModel)]="afiliado.NroAfiliado" class="form-control input-number" required>
                </div>
            </div>  

            <div class="row">
              <div class="form-group col-md-7">
                <label>Apellido y Nombre<span *ngIf="!apeNom.valid && apeNom.touched" class="alert-danger">
                  <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
                <input type="text" #apeNom="ngModel" name="apeNom" [(ngModel)]="afiliado.ApellidoNombre" class="form-control text-uppercase" required>
              </div>

              <div class="form-group col-md-2">
                  <label>Edad<span *ngIf="!edad.valid && edad.touched" class="alert-danger">
                    <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
                  <input type="text" maxlength="3" #edad="ngModel" name="edad" [(ngModel)]="afiliado.Edad" class="form-control input-number" required>
              </div>

              <div class="form-group col-md-3">
                  <label>Sexo<span *ngIf="!sexo.valid && sexo.touched" class="alert-danger">
                    <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
                  <div class="radio">
                      <label><input type="radio" #sexo="ngModel" name="sexo" [(ngModel)]="afiliado.Sexo" value="F" required>Femenino &nbsp;&nbsp;</label>
                      <label><input type="radio" #sexo="ngModel" name="sexo" [(ngModel)]="afiliado.Sexo" value="M" required>Masculino</label>
                  </div>     
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-2">
                <label>Cintura<span *ngIf="!cintura.valid && cintura.touched" class="alert-danger">
                  <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
                <input type="text" maxlength="3" #cintura="ngModel" name="cintura" [(ngModel)]="afiliado.Cintura" class="form-control input-number" required>
              </div>

              <div class="form-group col-md-2">
                  <label>Pantorrilla<span *ngIf="!pantorrilla.valid && pantorrilla.touched" class="alert-danger">
                    <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
                  <input type="text" maxlength="3" #pantorrilla="ngModel" name="pantorrilla" [(ngModel)]="afiliado.Pantorrilla" class="form-control input-number" required>
              </div>

              <div class="form-group col-md-4">
                  <label>Encuestador<span *ngIf="!encuestador.valid && encuestador.touched" class="alert-danger">
                      <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
                  <ng-select #encuestador="ngModel" name="encuestador" [(ngModel)]="afiliado.Encuestador" [dropdownPosition]="'bottom'" [notFoundText]="'NO EXISTE ENCUESTADOR'" class="text-uppercase" required>
                    <ng-option *ngFor="let item of encuestadores" [value]="item.IdEncuestador">{{item.Encuestador}}</ng-option>
                    <ng-option></ng-option>
                </ng-select>
              </div>

              <div class="form-group col-md-4">
                <label>Territorio<span *ngIf="!territorio.valid && territorio.touched" class="alert-danger">
                  <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
              <ng-select #territorio="ngModel" name="territorio" [(ngModel)]="afiliado.Territorio" [dropdownPosition]="'bottom'" [notFoundText]="'NO EXISTE TERRITORIO'" class="text-uppercase" required>
                  <ng-option *ngFor="let item of territorios" [value]="item.IdTerritorio">{{item.NombreTerritorio}}</ng-option>
                  <ng-option></ng-option>
              </ng-select>
              </div>
            </div>
            
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Departamento<span *ngIf="!departamento.valid && departamento.touched" class="alert-danger">
                        <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
                    <ng-select #departamento="ngModel" name="departamento" [(ngModel)]="afiliado.Dpto" [dropdownPosition]="'bottom'" [notFoundText]="'NO EXISTE DEPARTAMENTO'" class="text-uppercase" required>
                        <ng-option *ngFor="let item of dptos" [value]="item.IdDpto">{{item.NombreDpto}}</ng-option>
                        <ng-option></ng-option>
                    </ng-select>
                </div>

              <div class="form-group col-md-5">
                <label>Centro<span *ngIf="!centro.valid && centro.touched" class="alert-danger">
                  <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
              <ng-select #centro="ngModel" name="centro" [(ngModel)]="afiliado.Centro" [dropdownPosition]="'bottom'" [notFoundText]="'NO EXISTE CENTRO'" class="text-uppercase" required>
                  <ng-option *ngFor="let item of centros" [value]="item.IdCentro">{{item.NombreCentro}}</ng-option>
                  <ng-option></ng-option>
              </ng-select>
              </div>

              <div class="form-group col-md-4">
                <label>Programa<span *ngIf="!programa.valid && programa.touched" class="alert-danger">
                  <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
              <ng-select #programa="ngModel" name="programa" [(ngModel)]="afiliado.Programa" [dropdownPosition]="'bottom'" [notFoundText]="'NO EXISTE PROGRAMA'" class="text-uppercase" required>
                  <ng-option *ngFor="let item of programas" [value]="item.IdPrograma">{{item.NombrePrograma}}</ng-option>
                  <ng-option></ng-option>
              </ng-select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                  <label>Enfermedades<span *ngIf="!enfes.valid && enfes.touched" class="alert-danger">
                      <i class="fa fa-exclamation-circle"></i> Obligatorio</span></label>
                  <ng-select #enfes="ngModel" name="enfes" [(ngModel)]="afiliado.Enfermedades" [dropdownPosition]="'bottom'" [notFoundText]="'NO EXISTE ENFERMEDAD'" [multiple]="true" [closeOnSelect]="false" class="text-uppercase" required>
                      <ng-option *ngFor="let item of enfermedades" [value]="item.IdEnfermedad">{{item.NombreEnfermedad}}</ng-option>
                      <ng-option></ng-option>
                  </ng-select>
              </div>

              <div class="form-group col-md-5">
                <label>Comentarios</label>
                <textarea rows="2" name="coment" [(ngModel)]="afiliado.Comentario" class="form-control text-uppercase"></textarea>
              </div>
            </div>

            <h3 class="text-center">{{titulo2}}</h3>

            <div class="row">
                <div class="form-group col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-10">
                                <strong>1. ¿Tiene una enfermedad o problema que le hizo cambiar el tipo y/o cantidad de
                                alimentos que consume?</strong>
                            </div>
                            <div class="col-md-2">
                                <div class="radio margin-radio">
                                    <label>
                                        <input type="radio" name="Preg1" [(ngModel)]="encuesta.Preg1" value="2">SI&nbsp;</label>
                                    <label>
                                        <input type="radio" name="Preg1" [(ngModel)]="encuesta.Preg1" value="0">NO</label>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-10">
                                <strong>2. ¿Usted realiza menos de 2 comidas diarias/o cantidad diarias?</strong>
                            </div>
                            <div class="col-md-2">
                                <div class="radio margin-radio">
                                    <label>
                                        <input type="radio" name="Preg2" [(ngModel)]="encuesta.Preg2" value="3">SI&nbsp;</label>
                                    <label>
                                        <input type="radio" name="Preg2" [(ngModel)]="encuesta.Preg2" value="0">NO</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-10">
                                <strong>3. ¿Come menos de 2 porciones de frutas y verduras, y menos de una ración de
                                productos lacteos?</strong>
                            </div>
                            <div class="col-md-2">
                                <div class="radio margin-radio">
                                    <label>
                                        <input type="radio" name="Preg3" [(ngModel)]="encuesta.Preg3" value="2">SI&nbsp;</label>
                                    <label>
                                        <input type="radio" name="Preg3" [(ngModel)]="encuesta.Preg3" value="0">NO</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-10">
                                <strong>4. ¿Toma 3 o más vasos de cerveza, licor o vino diariamente?</strong>
                            </div>
                            <div class="col-md-2">
                                <div class="radio margin-radio">
                                    <label>
                                        <input type="radio" name="Preg4" [(ngModel)]="encuesta.Preg4" value="2">SI&nbsp;</label>
                                    <label>
                                        <input type="radio" name="Preg4" [(ngModel)]="encuesta.Preg4" value="0">NO</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-10">
                                <strong>5. ¿Tiene problemas dentales o bucales que dificulten su alimentación?</strong>
                            </div>
                            <div class="col-md-2">
                                <div class="radio margin-radio">
                                    <label>
                                        <input type="radio" name="Preg5" [(ngModel)]="encuesta.Preg5" value="2">SI&nbsp;</label>
                                    <label>
                                        <input type="radio" name="Preg5" [(ngModel)]="encuesta.Preg5" value="0">NO</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="form-group col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-10">
                                <strong>6. ¿Aluna vez le falta dinero para comprar la comida que necesita?</strong>
                            </div>
                            <div class="col-md-2">
                                <div class="radio margin-radio">
                                    <label>
                                        <input type="radio" name="Preg6" [(ngModel)]="encuesta.Preg6" value="4">SI&nbsp;</label>
                                    <label>
                                        <input type="radio" name="Preg6" [(ngModel)]="encuesta.Preg6" value="0">NO</label>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-10">
                                <strong>7. ¿Come solo la mayoria de las veces?</strong>
                            </div>
                            <div class="col-md-2">
                                <div class="radio margin-radio">
                                    <label>
                                        <input type="radio" name="Preg7" [(ngModel)]="encuesta.Preg7" value="1">SI&nbsp;</label>
                                    <label>
                                        <input type="radio" name="Preg7" [(ngModel)]="encuesta.Preg7" value="0">NO</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-10">
                                    <strong>8. ¿Toma 3 o más medicamentos recetados o de venta libre por día?</strong>
                                </div>
                                <div class="col-md-2">
                                    <div class="radio margin-radio">
                                        <label>
                                            <input type="radio" name="Preg8" [(ngModel)]="encuesta.Preg8" value="1">SI&nbsp;</label>
                                        <label>
                                            <input type="radio" name="Preg8" [(ngModel)]="encuesta.Preg8" value="0">NO</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-10">
                                        <strong>9. ¿Ha perdido o ganado sin quererlo 5 Kgs. en los últimos meses?</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="radio margin-radio">
                                            <label>
                                                <input type="radio" name="Preg9" [(ngModel)]="encuesta.Preg9" value="2">SI&nbsp;</label>
                                            <label>
                                                <input type="radio" name="Preg9" [(ngModel)]="encuesta.Preg9" value="0">NO</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-md-10">
                                            <strong>10. ¿Es alguna vez fisicamente incapaz de hacer compras, cocinar y/o alimentarse 
                                            por si mismo?</strong>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="radio margin-radio">
                                                <label>
                                                    <input type="radio" name="Preg10" [(ngModel)]="encuesta.Preg10" value="2">SI&nbsp;</label>
                                                <label>
                                                    <input type="radio" name="Preg10" [(ngModel)]="encuesta.Preg10" value="0">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
            
            </div>

            <input type="button" [disabled]="!formDatosPersonales.form.valid" value="Enviar" class="btn btn-lg btn-success center-block" style="width: 150px;" (click)="enviar()">
    
          </form>
    </div>
</div>
