<div class="content">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/home']" style="margin-left: -20px"><img src="../assets/bootstrap/img/LogoPami.png" class="img-circle" id="img-logo">
                    <span> SIVANUP</span> </a>   
                </li>
                <li>
                    <a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"  href="#" aria-expanded="false">ABMs
                    <span class="expand_caret caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a [routerLink]="['/centros']"><i class="fa fa-blind"></i> Centros</a></li>
                      <li><a href="#"><i class="fa fa-map"></i> Departamentos</a></li>
                      <li><a href="#"><i class="fa fa-user-md"></i> Encuestadores</a></li>
                      <li><a href="#"><i class="fa fa-medkit"></i> Enfermedades</a></li>
                      <li><a href="#"><i class="fa fa-briefcase"></i> Programas</a></li>
                      <li><a href="#"><i class="fa fa-map-marker"></i> Territorios</a></li>
                    </ul>
                  </li>
                <li>
                    <a href="#"><i class="fa fa-users"></i> Personas</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit"></i> Encuestas</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!isLogin">
                    <a [routerLink]="['/registrarse']">
                        <span class="glyphicon glyphicon-user"></span> Registrarse</a>
                </li>
                <li *ngIf="!isLogin">
                    <a [routerLink]="['/login']">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li *ngIf="isLogin">
                    <a><img *ngIf="fotoUsuario" src="{{fotoUsuario}}" class="img-circle" id="img-email">
                    <span> {{emailUsuario}}</span> </a>   
                </li>
                <li *ngIf="isLogin">
                    <a href="#" (click)="onClickLogout()">
                        <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="main" class="col-lg-12">
        <!-- Componente actual -->
        <router-outlet></router-outlet>
    </section>

    <!-- <footer id="footer" class="col-lg-12">
        <p>Sivanup - Luciano Lamonica</p>
    </footer> -->
</div>
