<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h3 class="text-center">{{titulo}}</h3>
        <form #formRegistro="ngForm" (submit)="onSubmitAddUser()">
  
          <div class="row">
            <div class="form-group col-md-6">
              <label>Apellido<span *ngIf="!apellido.valid && apellido.touched" class="alert-danger">
                <i class="fa fa-exclamation-circle"></i> El apellido es obligatorio</span></label>
              <input type="text" #apellido="ngModel" name="apellido"[(ngModel)]="usuario.ApellidoUsuario" class="form-control text-uppercase" placeholder="Apellido" required>
            </div>
    
            <div class="form-group col-md-6">
              <label>Nombre<span *ngIf="!nombre.valid && nombre.touched" class="alert-danger">
                <i class="fa fa-exclamation-circle"></i> El nombre es obligatorio</span></label>
              <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="usuario.NombreUsuario" class="form-control text-uppercase" placeholder="Nombre" required>
            </div>
          </div>
          
          <div class="row">
            <div class="form-group col-md-6">
              <label>Documento<span *ngIf="!documento.valid && documento.touched" class="alert-danger">
                <i class="fa fa-exclamation-circle"></i> El documento es obligatorio</span></label>
              <input type="text" #documento="ngModel" name="documento" [(ngModel)]="usuario.Documento" class="form-control input-number"  placeholder="Documento"  required>
            </div>
    
            <div class="form-group col-md-6">
              <label>Telefono<span *ngIf="!telefono.valid && telefono.touched" class="alert-danger">
                <i class="fa fa-exclamation-circle"></i> El telefono es obligatorio</span></label>
              <input type="text" #telefono="ngModel" name="telefono" [(ngModel)]="usuario.TelefonoUsuario" class="form-control input-number"  placeholder="Telefono" required>
            </div>
          </div>
          
          <!-- <div class="row">
            <div class="form-group col-md-6">
              <label>Email<span *ngIf="!email.valid && email.touched" class="alert-danger">
                <i class="fa fa-exclamation-circle"></i> El email es obligatorio</span></label>
              <input type="email" #email="ngModel" name="email" [(ngModel)]="usuario.EmailUsuario" class="form-control" placeholder="Email" required>
            </div> -->

            <div class="row">
              <div class="form-group col-md-6">
                <label>Email<span *ngIf="!email.valid && email.touched" class="alert-danger">
                  <i class="fa fa-exclamation-circle"></i> El email es obligatorio</span></label>
                <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" [(ngModel)]="usuario.EmailUsuario" #email="ngModel" placeholder="Email" required>
                <div *ngIf="email.errors && (email.touched || email.dirty)" class ="alert-danger">
                 <div [hidden]="!email.errors?.pattern">
                   Email invalido
                 </div> 
                </div> 
              </div>
    
            <div class="form-group col-md-6">
              <label>Contraseña<span *ngIf="!password.valid && password.touched" class="alert-danger">
                <i class="fa fa-exclamation-circle"></i> La contraseña es obligatoria</span></label>
              <input type="password" #password="ngModel" name="password" [(ngModel)]="usuario.PasswordUsuario" class="form-control" pattern="[A-Za-z0-9!?-]{8,12}" placeholder="Contraseña" required>
              <div *ngIf="password.errors && (password.touched || password.dirty)" class ="alert-danger">
                <div [hidden]="!password.errors?.pattern">
                  La contraseña debe tener 8 a 12 caracteres
                </div> 
               </div> 
            </div>
          </div>
          
  
          <input type="submit" [disabled]="!formRegistro.form.valid" value="Enviar" class="btn btn-primary btn-block">
  
        </form>
      </div>
    </div>
  </div>