<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="jumbotron">
            <h3 class="text-center">{{titulo}}</h3>
            <form #formEncuestador="ngForm">

                <div class="form-group">
                    <label>Nombre y Apellido
                        <span *ngIf="!Encuestador.valid && Encuestador.touched" class="alert-danger">
                            <i class="fa fa-exclamation-circle"></i> El nombre es obligatorio</span>
                    </label>
                    <input type="Encuestador" #Encuestador="ngModel" name="Encuestador" [(ngModel)]="encuestador.Encuestador" class="form-control text-uppercase"
                        required>
                </div>

                <div class="form-group">
                    <label for="Comentario">Comentario</label>
                    <textarea type="text" name="Comentario" [(ngModel)]="encuestador.Comentario" class="form-control text-uppercase"></textarea>
                </div>
                <div class="form-inline text-center">
                    <input *ngIf="editar" type="button" value="Guardar" [disabled]="!formEncuestador.form.valid" class="btn btn-primary" data-toggle="modal" data-target="#editarEncuestador">
                    <input *ngIf="!editar" type="button" value="Guardar" [disabled]="!formEncuestador.form.valid" class="btn btn-primary" data-toggle="modal" data-target="#nuevoEncuestador">
                    <input [routerLink]="['/encuestadores']" type="button" value="Volver a encuestadores" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL GUARDAR ENCUESTADOR -->
<div class="modal fade" id="nuevoEncuestador" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center"><strong>Nuevo encuestador</strong></h3>
            </div>
            <div class="modal-body">
                <h4 class="text-center"><strong>¿Estás seguro que deseas agregar este encuestador?</strong></h4>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary" (click)="saveEncuestador()" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL EDITAR ENCUESTADOR -->
<div class="modal fade" id="editarEncuestador" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center"><strong>Editar encuestador</strong></h3>
                </div>
                <div class="modal-body">
                    <h4 class="text-center"><strong>¿Estás seguro que deseas editar este encuestador?</strong></h4>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-primary" (click)="updateEncuestador()" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>