#main .jumbotron{
    padding: 30px;
    padding-top: 5px;
    margin-top: -5px;
    border-radius: 10px;
    background: #eee
}

#img-email{
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-bottom: -10px;
}

#img-logo{
    width: 35px;
    height: 35px;
    margin-top: -10px;
    margin-bottom: -10px;
}

#toast-container{
    margin-bottom: 70px;
    margin-top: 75px;
}

/*
Centrar toda la seccion
*/
/*
#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#footer{
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color: #eee;
    position: absolute;
    bottom: 0;
}

/* footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  } */


.btn-facebook{
    width: 32%;
    background: #3b5998;
    color: #fff;
    margin-right: 5px;
}

.btn-google{
    width: 32%;
    background: #dd4b39;
    color: #fff;
    margin-right: 5px;
}

.btn-twitter{
    width: 32%;
    background: #55acee;
    color: #fff;
}

#fondo {
    background: linear-gradient(top, black, white);
}

.navbar-inverse .navbar-nav>li>a {
    color: #eee;
}

.dropdown .dropdown-menu{
    display: block; 
    opacity:0;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.dropdown.open .dropdown-menu {
    display: block;
    opacity: 1;
    background-color:  #222;
    border-color: #080808;   
}


.dropdown-menu>li>a{
    color: #eee;
    display: block;
    text-decoration: none;
}

.dropdown-menu>li>a:hover{
    background: #eee;
    color: #222;
    transition: 300ms ease;
}

.expand_caret {
    transform: scale(1.6);
    margin-left: 8px;
    margin-top: -4px;
}
a[aria-expanded='true'] > .expand_caret {
    transform: scale(1.6) rotate(180deg);
}
  