/* #main .jumbotron{
    padding: 30px;
    padding-top: 5px;
    margin-top: -5px;
    border-radius: 10px;
} */

#main .jumbotron {
    display: table-cell;
    vertical-align: middle;
 }

#footer{
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color: #eee;
    position: absolute;
    bottom: 0;
}

/* footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  } */


.btn-facebook{
    width: 32%;
    background: #3b5998;
    color: #fff;
    margin-right: 5px;
}

.btn-google{
    width: 32%;
    background: #dd4b39;
    color: #fff;
    margin-right: 5px;
}

.btn-twitter{
    width: 32%;
    background: #55acee;
    color: #fff;
}

#fondo {
    background: linear-gradient(top, black, white);
}