<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="jumbotron">
            <h3 class="text-center">{{titulo}}</h3>
            <form #formCentro="ngForm">

                <div class="form-group">
                    <label>Nombre
                        <span *ngIf="!NombreCentro.valid && NombreCentro.touched" class="alert-danger">
                            <i class="fa fa-exclamation-circle"></i> El nombre es obligatorio</span>
                    </label>
                    <input type="NombreCentro" #NombreCentro="ngModel" name="NombreCentro" [(ngModel)]="centro.NombreCentro" class="form-control text-uppercase"
                        required>
                </div>

                <div class="form-group">
                    <label for="Comentario">Comentario</label>
                    <textarea type="text" name="Comentario" [(ngModel)]="centro.Comentario" class="form-control text-uppercase"></textarea>
                </div>
                <div class="form-inline text-center">
                    <input *ngIf="editar" type="button" value="Guardar" [disabled]="!formCentro.form.valid" class="btn btn-primary" data-toggle="modal" data-target="#editarCentro">
                    <input *ngIf="!editar" type="button" value="Guardar" [disabled]="!formCentro.form.valid" class="btn btn-primary" data-toggle="modal" data-target="#nuevoCentro">
                    <input [routerLink]="['/centros']" type="button" value="Volver a centros" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL EDITAR CENTRO -->
<div class="modal fade" id="editarCentro" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center"><strong>Editar centro</strong></h3>
                </div>
                <div class="modal-body">
                    <h4 class="text-center"><strong>¿Estás seguro que deseas editar este centro?</strong></h4>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-primary" (click)="updateCentro()" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>